.tema{
    position: fixed;
    right: 15px;
    bottom: 15px;
}
.card-title{
    font-size: 16px;
}
.valor {
    font-weight: bold;
    color: red; 
}
.productos {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.shop {
    text-decoration: none;
    font-size: 23px;
}

#rowData img{
    width: 50%;
}

.total {
    display: flex;
    flex-direction: row-reverse;
    font-size: 22px;
    text-transform: uppercase;
}

#btn-pagar{
    width: 33%;
    text-transform: uppercase;
}
#btn-vaciar{
    width: 33%;
    text-transform: uppercase;
}

#formPay{
    display: none;
}

.payContainer{
    display: flex;
    justify-content: space-around;
    margin: 45px;
}

.price {
    text-align: center;
    text-transform: uppercase;
    color: red;
    font-size: 24px;
}

.containerButton{
    display: flex;
    justify-content: right;
    margin-bottom: 15px;
}

/* Footer */
footer {
    background-color: #292c2f;
    text-align: center;
    font: 14px sans-serif;
    padding: 45px 50px;
    color: #ffffff;
  }
  
  footer a {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    margin: 5px;
  }
  footer a:hover {
    color: #e17729;
  }
  
  /* END Footer */

  #logo {
    width: 45px;
    height: auto;
  }
  #container-shop{
    min-height: 750px;
  }